<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<p>下記の情報をフォームに入力してログインしてください</p>
<p>[Email]</p>
<p>
<!-- The text field -->
<input type="text" value="kame@kame.com" id="myInput">

<!-- The button used to copy the text -->
<button onclick="myFunction()">Copy text</button>
</p>

<p>[Password]</p>
<p>
<input type="text" value="kamekame" id="myInputPass">

<!-- The button used to copy the text -->
<button onclick="myCopy()">Copy text</button>
</p>



<script>
function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

}
function myCopy() {
  /* Get the text field */
  var copyPass = document.getElementById("myInputPass");

  /* Select the text field */
  copyPass.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");


}
</script>