<h2>クイズを作る</h2>
<%= form_for :post, url: posts_path do |f| %>
<p>
<%= f.text_area :content, placeholder: '問題を書いてください' %>
<% if @post.errors.messages[:content].any? %>
<span class="error"><%= @post.errors.messages[:content][0] %></span>
<% end %>
</p>
<p>
<%= f.text_area :answer, placeholder: '答えを書いてください'%>
<% if @post.errors.messages[:answer].any? %>
<span class="error"><%= @post.errors.messages[:answer][0] %></span>
<% end %>
</p>
<p>
<%= f.submit("クイズを作成") %>
</p>
<% end %>